{% extends 'base.html' %}

{% block title %} | User Page {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{%url 'about'%}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'contact'%}">Contact Us</a>
            </li>
            {% if person.type == 1%}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment' %}">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Invoice & Payments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'history'%}">Medical History</a>
            </li>
            {% elif person.type == 0 %}
            <li class="nav-item">
                <a class="nav-link" href="#">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Prescriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'appointment'%}">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'rpatients'%}">Patients</a>
            </li>
            {% endif %}
            <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link"><i
                        class="fas fa-sign-out-alt"></i> Logout</a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                    {% csrf_token %}
                    <input type="hidden">
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login'  %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{%url 'create_appointment' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="patient">Select Patient</label>
                        <select class="form-control" id="patient" name="patient">
                            {%for i in patients%}
                            <option value="{{i.person}}">{{i.person.user.username}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="doctor">Select Doctor</label>
                        <select class="form-control" id="doctor" name="doctor">
                            {%for i in doctors %}
                            <option value="{{i.person}}">{{i.person.user.username}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <input type="date" name='date' id="date">
                        <label for="date" class="active">Date</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="time" name='time' min="09:30" max="20:30">
                        <label for="time" class="active">Time</label>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" name="status">
                            <option value="Pending">Pending</option>
                            <option value="Completed">Completed</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#appointmentModal">
            Create Appointment
        </button>
    </div>
    <table class=" mt-5 table table-striped table-condensed">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Consulted Doctor</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in appointments %}
            <tr>
                <td>{{i.patient}}</td>
                <td>{{i.doctor}}</td>
                <td>{{i.date}}</td>
                <td>{{i.status}}</td>
                <td><a href="update/{{i.id}}" class="btn btn-primary">Update</a></td>
                <td><a href="delete/{{i.id}}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}